body{
    text-align: center;
    background-image: url(https://image.winudf.com/v2/image/Y29tLnNnbS5odXNreXB1cHB5d2FsbHBhcGVyX3NjcmVlbnNob3RzXzNfNDhhODFlYTk/screen-3.jpg?fakeurl=1&type=.webp);
}
#koko{
    color: lightpink;
}

#kokito{
    color: lightpink;
}